<h1 class="text-center my-3">Lista de Produtos do Carrinho</h1>
<center>
  <table class="table">
    <div class="row">
      <div class="col-12">
        <thead>
        </thead>
        <tbody>
          {{#each carrinho}}
            <tr>
              <td>
                <img src="{{this.link}}" alt="Imagem do produto" width="50" height="50" class="me-2"/>
                Código Produto: <strong>{{this.id_chapa}}</strong> - 
                <strong>{{this.nome}}</strong> - 
                Preço: <strong>R$ {{this.preco}}</strong>
              </td>
              <td>
                <a href="/carrinho/remover/{{this.id_chapa}}" title="Clique aqui para remover do carrinho">
                  <i class="bi bi-cart-x"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </div>
    </div>
  </table>

  <h3 class="text-center my-3">Total: R$ {{total}}</h3>
</center>
